
/* body {
    margin:0px;
    padding:0px;
} */

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.red {
    color:yellow;
}

.blue{ 
    color:violet;
}

.white{
    color:white;
}
body{
    font-family: 'Lato', sans-serif;

}
.title {
    text-align:center;
    
}
@media only screen and (min-width: 992px) {
    /* FOR DESKTOP */
   
   
    .main {
        text-align:center;
        padding-top:10px;
        padding-bottom:10px;
    }

    
    
    .section{
        background-color:pink;
        height:100px;
        position:relative;
        display:inline-block;
        border: 4px solid black;
        padding:30px;
        
    }

    .para{
        padding-top:5%;
        font-size:80%;
        text-align:left;
        font-weight:bold;
    }

    .minibox{
        right:0px;
        top:0px;
        height:20%;
        border:2px solid black;
        width:20%;
        /* top:5%; */
        /* left:76%; */
        text-align:center;
        position:absolute;
        background-color: gray;
        font-weight:bold;
        color:white;
    }

    
  }

  @media screen and (min-width: 768px) and (max-width:991px)  {
    /* FOR TABLETS */
    .main {
        text-align:center;
        padding-top:10px;
        padding-bottom:10px;
    }

    
    
    .section{
        /* width:30%: */
        
        height:100px;
        position:relative;
        display:inline-block;
        border: 4px solid black;
        background-color: pink;
        padding:60px;
        margin-right:10px;
    }

    .section3 {
        height:80px;
        position:relative;
        display:inline-block;
        border: 4px solid black;
        background-color: pink;
        padding:40px;
        width:69%;
        margin-top:10px;
    }

    .para{
        font-size:90%;
        text-align:left;
        font-weight:bold;
    }

    .minibox{
        padding-top:5px;
        background-color: gray;
        color: white;
        font-weight: bold;
        height:20%;
        border:2px solid black;
        width:20%;
        top:0px;
        right:0px;
        text-align:center;
        position:absolute;

    }
  }

  @media screen and (max-width: 767px)  {
    /* FOR MOBILE */

    .main {
     
        padding-top:10px;
        padding-bottom:10px;
    }

    
    
    .section{
        margin-top:5px;
        margin-bottom:5px;
        height:150px;
        position:relative;
        width:99%;
        border: 4px solid black;
        background-color: pink;
    }

    

    .para{
        margin-top:60px;
        /* border: 1px solid black; */
        /* padding:10%; */
        padding-left:10%;
        padding-right:10%;
        font-weight:bold;
        font-size:80%;
        text-align:left;
    }

    .minibox{
        background-color: gray;
        color:white;
        font-weight:bold;
        text-align: center;
        height:20%;
        border:2px solid black;
        width:20%;
        top:0px;
        right:0px;
        position:absolute;

    }

  }